html * {
    padding: 0;
    margin: 0;
}

.layout article div {
    height: 100px;
}

.left-center-right {
    display: flex;
}

.layout.flex .left {
    width: 300px;
    background: red;
}

.layout.flex .center {
    flex: 1;
    background: green;
}

.layout.flex .right {
    width: 300px;
    background: blue;
}